pywin32; sys_platform == 'win32'
git+https://github.com/minkustree/pyusb
git+https://github.com/MCU-Innovations/pyftdi
pydispatcher
wxPython==4.0.6
requests
lxml
numpy==1.15.4
colour
pyparsing
gitpython
appdirs
git+https://github.com/phatdatpq/eculib.git
